<footer>
    <script src="https://use.fontawesome.com/5e8a202dcd.js"></script>
    <div class="icons">
        <% if (typeof(linkedin) != "undefined") {%>
            <% if (linkedin.length != 0) {%>
                <a class="fa fa-linkedin" href="<%= linkedin %>"></a>
                <% } %>
        <% } %>
        <% if (typeof(github) != "undefined") {%>
            <% if (github.length != 0) {%>
                <a class="fa fa-github" href="<%= github %>"></a>
            <% } %>
        <% } %>
    </div>
</footer>