<footer>
    <script src="https://use.fontawesome.com/5e8a202dcd.js"></script>
    <div class="icons">
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/harshithptl/"></a>
        <a class="fa fa-github" href="https://github.com/harshithptl"></a>
        
    </div>
</footer>