<nav>
    <div class="site-title">
      <a href="/"><h1>Bloggity Blog</h1></a>
      <p>A simple blog site in Node.js and MySQL.</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New</a></li>
      <li><form action="/signout" method="POST">
        <button id="signout">Sign Out</button>
      </form></li>
    </ul>
</nav>