<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About</h2>
    <p>A simple project built using Node.js and MySQL. Consists of basic CRUD operations for the various blogs.</p>
    <p>Please feel free to explore the functionalities provided.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>